<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">


    <application
        android:name="dev.dworks.apps.anexplorer.DocumentsApplicationFree"
        tools:replace="android:name">
        <provider
            android:name="dev.dworks.apps.anexplorer.provider.RecentsProvider"
            android:authorities="dev.dworks.apps.anexplorer.recents"
            android:exported="true"
            android:grantUriPermissions="true"
            android:permission="android.permission.MANAGE_DOCUMENTS">
            <intent-filter>
                <action android:name="dev.dworks.apps.anexplorer.action.DOCUMENTS_PROVIDER" />
            </intent-filter>
        </provider>
        <provider
            android:name="dev.dworks.apps.anexplorer.provider.ExternalStorageProvider"
            android:authorities="dev.dworks.apps.anexplorer.externalstorage.documents"
            android:exported="true"
            android:grantUriPermissions="true"
            android:permission="android.permission.MANAGE_DOCUMENTS">
            <intent-filter>
                <action android:name="dev.dworks.apps.anexplorer.action.DOCUMENTS_PROVIDER" />
            </intent-filter>
        </provider>
        <provider
            android:name="dev.dworks.apps.anexplorer.provider.MediaDocumentsProvider"
            android:authorities="dev.dworks.apps.anexplorer.media.documents"
            android:exported="true"
            android:grantUriPermissions="true"
            android:permission="android.permission.MANAGE_DOCUMENTS">
            <intent-filter>
                <action android:name="dev.dworks.apps.anexplorer.action.DOCUMENTS_PROVIDER" />
            </intent-filter>
        </provider>
        <provider
            android:name="dev.dworks.apps.anexplorer.provider.AppsProvider"
            android:authorities="dev.dworks.apps.anexplorer.apps.documents"
            android:exported="true"
            android:grantUriPermissions="true"
            android:permission="android.permission.MANAGE_DOCUMENTS">
            <intent-filter>
                <action android:name="dev.dworks.apps.anexplorer.action.DOCUMENTS_PROVIDER" />
            </intent-filter>
        </provider>
        <provider
            android:name="dev.dworks.apps.anexplorer.provider.RootedStorageProvider"
            android:authorities="dev.dworks.apps.anexplorer.rootedstorage.documents"
            android:exported="true"
            android:grantUriPermissions="true"
            android:permission="android.permission.MANAGE_DOCUMENTS">
            <intent-filter>
                <action android:name="dev.dworks.apps.anexplorer.action.DOCUMENTS_PROVIDER" />
            </intent-filter>
        </provider>

        <!--
             <provider
            android:name="dev.dworks.apps.anexplorer.provider.HeatMapProvider"
            android:authorities="dev.dworks.apps.anexplorer.heatmap.documents"
            android:exported="true"
            android:grantUriPermissions="true"
            android:permission="android.permission.MANAGE_DOCUMENTS" >
            <intent-filter>
                <action android:name="dev.dworks.apps.anexplorer.action.DOCUMENTS_PROVIDER" />
            </intent-filter>
        </provider>
        -->
        <!--
             <provider
            android:name="dev.dworks.apps.anexplorer.provider.DownloadStorageProvider"
            android:authorities="dev.dworks.apps.anexplorer.downloads.documents"
            android:exported="true"
            android:grantUriPermissions="true"
            android:permission="android.permission.MANAGE_DOCUMENTS" >
            <intent-filter>
                <action android:name="dev.dworks.apps.anexplorer.action.DOCUMENTS_PROVIDER" />
            </intent-filter>
        </provider>
        -->

        <provider
            android:name="dev.dworks.apps.anexplorer.provider.ExplorerProvider"
            android:authorities="dev.dworks.apps.anexplorer.explorer"
            android:enabled="true"
            android:exported="false"></provider>

        <!-- AdMob -->
        <activity
            android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" />

        <meta-data
            android:name="com.crashlytics.ApiKey"
            android:value="8d9d245a1d53a9ea0d140f5ea40de7cf4b3ab098" />

        <activity
            android:name="dev.dworks.apps.anexplorer.TestActivity"
            android:enabled="false">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>