<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dev.dworks.apps.anexplorer"
    android:versionCode="38"
    android:versionName="2.2" >

    <permission
        android:name="android.permission.MANAGE_DOCUMENTS"
        android:protectionLevel="signature" />

    <uses-permission android:name="android.permission.MANAGE_DOCUMENTS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="android.permission.ACCESS_SUPERUSER" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CLEAR_APP_CACHE" />

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />

    <application
        android:name=".DocumentsApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="AnExplorer"
        android:logo="@drawable/logo"
        android:supportsRtl="true" >

        <!-- TODO: allow rotation when state saving is in better shape -->
        <activity
            android:name=".DocumentsActivity"
            android:theme="@style/Theme.Document" >
            <intent-filter android:priority="100" >
                <action android:name="android.intent.action.OPEN_DOCUMENT" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.OPENABLE" />

                <data android:mimeType="*/*" />
            </intent-filter>
            <intent-filter android:priority="100" >
                <action android:name="android.intent.action.CREATE_DOCUMENT" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.OPENABLE" />

                <data android:mimeType="*/*" />
            </intent-filter>
            <intent-filter android:priority="100" >
                <action android:name="android.intent.action.GET_CONTENT" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.OPENABLE" />

                <data android:mimeType="*/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.provider.action.MANAGE_ROOT" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="vnd.android.document/root" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".setting.SettingsActivity"
            android:exported="false"
            android:label="@string/menu_settings"
            android:theme="@android:style/Theme.Holo.Light.DarkActionBar" />
        <activity
            android:name=".AboutActivity"
            android:label="About"
            android:theme="@style/Theme.Document"
            android:uiOptions="splitActionBarWhenNarrow" >
        </activity>

        <provider
            android:name=".provider.RecentsProvider"
            android:authorities="dev.dworks.apps.anexplorer.recents"
            android:exported="true"
            android:grantUriPermissions="true"
            android:permission="android.permission.MANAGE_DOCUMENTS" >
            <intent-filter>
                <action android:name="dev.dworks.apps.anexplorer.action.DOCUMENTS_PROVIDER" />
            </intent-filter>
        </provider>
        <provider
            android:name=".provider.ExternalStorageProvider"
            android:authorities="dev.dworks.apps.anexplorer.externalstorage.documents"
            android:exported="true"
            android:grantUriPermissions="true"
            android:permission="android.permission.MANAGE_DOCUMENTS" >
            <intent-filter>
                <action android:name="dev.dworks.apps.anexplorer.action.DOCUMENTS_PROVIDER" />
            </intent-filter>
        </provider>
        <provider
            android:name=".provider.MediaDocumentsProvider"
            android:authorities="dev.dworks.apps.anexplorer.media.documents"
            android:exported="true"
            android:grantUriPermissions="true"
            android:permission="android.permission.MANAGE_DOCUMENTS" >
            <intent-filter>
                <action android:name="dev.dworks.apps.anexplorer.action.DOCUMENTS_PROVIDER" />
            </intent-filter>
        </provider>
        <provider
            android:name=".provider.AppsProvider"
            android:authorities="dev.dworks.apps.anexplorer.apps.documents"
            android:exported="true"
            android:grantUriPermissions="true"
            android:permission="android.permission.MANAGE_DOCUMENTS" >
            <intent-filter>
                <action android:name="dev.dworks.apps.anexplorer.action.DOCUMENTS_PROVIDER" />
            </intent-filter>
        </provider>
        <provider
            android:name=".provider.RootedStorageProvider"
            android:authorities="dev.dworks.apps.anexplorer.rootedstorage.documents"
            android:exported="true"
            android:grantUriPermissions="true"
            android:permission="android.permission.MANAGE_DOCUMENTS" >
            <intent-filter>
                <action android:name="dev.dworks.apps.anexplorer.action.DOCUMENTS_PROVIDER" />
            </intent-filter>
        </provider>

        <!--
             <provider
            android:name="dev.dworks.apps.anexplorer.provider.HeatMapProvider"
            android:authorities="dev.dworks.apps.anexplorer.heatmap.documents"
            android:exported="true"
            android:grantUriPermissions="true"
            android:permission="android.permission.MANAGE_DOCUMENTS" >
            <intent-filter>
                <action android:name="dev.dworks.apps.anexplorer.action.DOCUMENTS_PROVIDER" />
            </intent-filter>
        </provider>
        -->
        <!--
             <provider
            android:name="dev.dworks.apps.anexplorer.provider.DownloadStorageProvider"
            android:authorities="dev.dworks.apps.anexplorer.downloads.documents"
            android:exported="true"
            android:grantUriPermissions="true"
            android:permission="android.permission.MANAGE_DOCUMENTS" >
            <intent-filter>
                <action android:name="dev.dworks.apps.anexplorer.action.DOCUMENTS_PROVIDER" />
            </intent-filter>
        </provider>
        -->

        <provider
            android:name=".provider.ExplorerProvider"
            android:authorities="dev.dworks.apps.anexplorer.explorer"
            android:enabled="true"
            android:exported="false" >
        </provider>
        <receiver android:name=".receiver.PackageReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_FULLY_REMOVED" />
                <action android:name="android.intent.action.PACKAGE_DATA_CLEARED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>
        <receiver android:name=".receiver.MountReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_MOUNTED" />
                <action android:name="android.intent.action.MEDIA_UNMOUNTED" />

                <data android:scheme="file" />
            </intent-filter>
        </receiver>
        <!-- AdMob -->
        <activity
            android:name="com.google.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" />
        <activity
            android:name=".NoteActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="sensor"
            android:theme="@style/Theme.Document" >
            <intent-filter android:label="Text Viewer" >
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/*" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.crashlytics.ApiKey"
            android:value="8d9d245a1d53a9ea0d140f5ea40de7cf4b3ab098" />

    </application>

</manifest>