<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dev.dworks.apps.anexplorer"
    android:installLocation="auto"
    android:versionCode="25"
    android:versionName="1.6" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.SET_WALLPAPER" />

    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />

    <application
        android:name="AnExplorer"
        android:allowBackup="false"
        android:description="@string/app_about_info"
        android:icon="@drawable/ic_launcher_icon"
        android:label="@string/app_name"
        android:logo="@drawable/ic_launcher_icon" >

        <!-- Home -->
        <activity
            android:name="dev.dworks.apps.anexplorer.HomeActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Explorer -->
        <activity
            android:name="dev.dworks.apps.anexplorer.ExplorerActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name"
            android:uiOptions="splitActionBarWhenNarrow" >
            <intent-filter>
                <action android:name="android.intent.action.PICK" />
                <action android:name="org.openintents.action.PICK_FILE" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="file" />
                <data android:scheme="folder" />
                <data android:scheme="directory" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.GET_CONTENT" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.OPENABLE" />

                <data android:mimeType="*/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.app.default_searchable"
                android:value="dev.dworks.apps.anexplorer.ExplorerActivity" />
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>

        <!-- Setting -->
        <activity
            android:name="dev.dworks.apps.anexplorer.Setting"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="Settings" />

        <!-- Tutorial -->
        <activity
            android:name="dev.dworks.apps.anexplorer.TutorialActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="Tutorial" />
                
        <!-- AdMob -->
        <activity
            android:name="com.google.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" />

        <receiver
            android:name="dev.dworks.apps.anexplorer.MyReceiver"
            android:enabled="true"
            android:exported="false" >
        </receiver>
    </application>

</manifest>