<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" >

    <application>
        <provider
            android:name="dev.dworks.apps.anexplorer.provider.RecentsProvider"
            android:authorities="dev.dworks.apps.anexplorer.pro.recents"
            android:exported="true"
            android:grantUriPermissions="true"
            android:permission="android.permission.MANAGE_DOCUMENTS">
            <intent-filter>
                <action android:name="dev.dworks.apps.anexplorer.action.DOCUMENTS_PROVIDER" />
            </intent-filter>
        </provider>
        <provider
            android:name="dev.dworks.apps.anexplorer.provider.ExternalStorageProvider"
            android:authorities="dev.dworks.apps.anexplorer.pro.externalstorage.documents"
            android:exported="true"
            android:grantUriPermissions="true"
            android:permission="android.permission.MANAGE_DOCUMENTS">
            <intent-filter>
                <action android:name="dev.dworks.apps.anexplorer.action.DOCUMENTS_PROVIDER" />
            </intent-filter>
        </provider>
        <provider
            android:name="dev.dworks.apps.anexplorer.provider.MediaDocumentsProvider"
            android:authorities="dev.dworks.apps.anexplorer.pro.media.documents"
            android:exported="true"
            android:grantUriPermissions="true"
            android:permission="android.permission.MANAGE_DOCUMENTS">
            <intent-filter>
                <action android:name="dev.dworks.apps.anexplorer.action.DOCUMENTS_PROVIDER" />
            </intent-filter>
        </provider>
        <provider
            android:name="dev.dworks.apps.anexplorer.provider.AppsProvider"
            android:authorities="dev.dworks.apps.anexplorer.pro.apps.documents"
            android:exported="true"
            android:grantUriPermissions="true"
            android:permission="android.permission.MANAGE_DOCUMENTS">
            <intent-filter>
                <action android:name="dev.dworks.apps.anexplorer.action.DOCUMENTS_PROVIDER" />
            </intent-filter>
        </provider>
        <provider
            android:name="dev.dworks.apps.anexplorer.provider.RootedStorageProvider"
            android:authorities="dev.dworks.apps.anexplorer.pro.rootedstorage.documents"
            android:exported="true"
            android:grantUriPermissions="true"
            android:permission="android.permission.MANAGE_DOCUMENTS">
            <intent-filter>
                <action android:name="dev.dworks.apps.anexplorer.action.DOCUMENTS_PROVIDER" />
            </intent-filter>
        </provider>
        <provider
            android:name="dev.dworks.apps.anexplorer.provider.UsbStorageProvider"
            android:authorities="dev.dworks.apps.anexplorer.pro.usbstorage.documents"
            android:exported="true"
            android:grantUriPermissions="true"
            android:permission="android.permission.MANAGE_DOCUMENTS">
            <intent-filter>
                <action android:name="dev.dworks.apps.anexplorer.action.DOCUMENTS_PROVIDER" />
            </intent-filter>
        </provider>
        <provider
            android:name="dev.dworks.apps.anexplorer.provider.ExplorerProvider"
            android:authorities="dev.dworks.apps.anexplorer.pro.explorer"
            android:enabled="true"
            android:exported="false"/>
    </application>

</manifest>