<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="dev.dworks.apps.anexplorer"
    android:installLocation="auto">

    <permission
        android:name="android.permission.MANAGE_DOCUMENT"
        android:protectionLevel="signature" />

    <uses-permission android:name="android.permission.MANAGE_DOCUMENT" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="android.permission.ACCESS_SUPERUSER" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.REQUEST_DELETE_PACKAGES" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />
    <uses-feature
        android:name="android.software.leanback"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.usb.host"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.wifi"
        android:required="false" />

    <uses-feature
        android:name="android.hardware.type.pc"
        android:required="false" />

    <application
        android:name=".DocumentsApplication"
        android:allowBackup="true"
        android:banner="@drawable/banner"
        android:icon="@drawable/ic_launcher"
        android:roundIcon="@drawable/ic_launcher"
        android:label="@string/name"
        tools:replace="android:label"
        android:usesCleartextTraffic="true"
        android:supportsRtl="true">

        <meta-data android:name="WindowManagerPreference:FreeformWindowSize"
            android:value="[phone|tablet|maximize]" />
        <meta-data android:name="WindowManagerPreference:FreeformWindowOrientation"
            android:value="[portrait|landscape]" />

        <meta-data
            android:name="com.google.android.gms.cast.framework.OPTIONS_PROVIDER_CLASS_NAME"
            android:value="dev.dworks.apps.anexplorer.cast.CastOptionsProvider" />

        <!-- TODO: allow rotation when state saving is in better shape -->
        <activity
            android:name=".DocumentsActivity"
            android:theme="@style/DocumentsTheme.Splash"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.OPEN_DOCUMENT" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.OPENABLE" />

                <data android:mimeType="*/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.CREATE_DOCUMENT" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.OPENABLE" />

                <data android:mimeType="*/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.GET_CONTENT" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.OPENABLE" />

                <data android:mimeType="*/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.provider.action.MANAGE_ROOT" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="vnd.android.document/root" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.OPEN_DOCUMENT_TREE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <!-- For Phones and tablets -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <!-- For TV -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>

            <!-- For Quick Setting Tiles -->
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE_PREFERENCES" />
            </intent-filter>
            <meta-data
                android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"
                android:resource="@xml/device_filter" />

            <intent-filter>
                <data android:scheme="${applicationId}" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>

            <meta-data android:name="WindowManagerPreference:SuppressWindowControlNavigationButton"
                android:value="true" />
        </activity>
        <activity
            android:name=".StandaloneActivity"
            android:theme="@style/DocumentsTheme.Document" >
            <meta-data android:name="WindowManagerPreference:SuppressWindowControlNavigationButton"
                android:value="true" />
        </activity>
        <activity
            android:name=".setting.SettingsActivity"
            android:exported="false"
            android:label="@string/menu_settings"
            android:theme="@style/DocumentsTheme.Setting" >
            <meta-data android:name="WindowManagerPreference:SuppressWindowControlNavigationButton"
                android:value="true" />
        </activity>
        <activity
            android:name=".AboutActivity"
            android:label="About"
            android:theme="@style/DocumentsTheme.Document" >
            <meta-data android:name="WindowManagerPreference:SuppressWindowControlNavigationButton"
                android:value="true" />
        </activity>

        <receiver android:name=".receiver.PackageReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_FULLY_REMOVED" />
                <action android:name="android.intent.action.PACKAGE_DATA_CLEARED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>
        <receiver android:name=".receiver.MountReceiver">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_MOUNTED" />
                <action android:name="android.intent.action.MEDIA_UNMOUNTED" />

                <data android:scheme="file" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.os.storage.action.VOLUME_STATE_CHANGED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".NoteActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="sensor"
            android:theme="@style/DocumentsTheme.Note">
            <intent-filter android:label="Text Viewer"
                tools:ignore="AppLinkUrlError">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/*" />
            </intent-filter>
            <meta-data android:name="WindowManagerPreference:SuppressWindowControlNavigationButton"
                android:value="true" />
        </activity>

        <receiver
            android:name=".receiver.ConnectionsReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="${applicationId}.action.START_FTPSERVER" />
                <action android:name="${applicationId}.action.STOP_FTPSERVER" />
                <action android:name="${applicationId}.action.FTPSERVER_STARTED" />
                <action android:name="${applicationId}.action.FTPSERVER_STOPPED" />
                <action android:name="${applicationId}.action.START_LISTENING" />
                <action android:name="${applicationId}.action.STOP_LISTENING" />
            </intent-filter>
        </receiver>

        <service
            android:name=".service.ConnectionsService"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name=".service.ServerTileService"
            android:icon="@drawable/ic_root_server"
            android:label="@string/toggle_messages"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>

        <service
            android:name=".service.TransferTileService"
            android:icon="@drawable/ic_root_transfer"
            android:label="@string/transfer_toggle_messages"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>

        <provider
            android:name="dev.dworks.apps.anexplorer.provider.ContentProvider"
            android:authorities="${applicationId}.roots"
            android:exported="false"
            android:enabled="true"/>

        <provider
            android:name="dev.dworks.apps.anexplorer.provider.RecentsProvider"
            android:authorities="${applicationId}.recents"
            android:exported="true"
            android:grantUriPermissions="true"
            android:permission="android.permission.MANAGE_DOCUMENT">
            <intent-filter>
                <action android:name="dev.dworks.apps.anexplorer.action.DOCUMENTS_PROVIDER" />
            </intent-filter>
        </provider>
        <provider
            android:name="dev.dworks.apps.anexplorer.provider.ExternalStorageProvider"
            android:authorities="${applicationId}.externalstorage.documents"
            android:exported="true"
            android:grantUriPermissions="true"
            android:permission="android.permission.MANAGE_DOCUMENT">
            <intent-filter>
                <action android:name="dev.dworks.apps.anexplorer.action.DOCUMENTS_PROVIDER" />
            </intent-filter>
        </provider>
        <provider
            android:name="dev.dworks.apps.anexplorer.provider.MediaDocumentsProvider"
            android:authorities="${applicationId}.media.documents"
            android:exported="true"
            android:grantUriPermissions="true"
            android:permission="android.permission.MANAGE_DOCUMENT">
            <intent-filter>
                <action android:name="dev.dworks.apps.anexplorer.action.DOCUMENTS_PROVIDER" />
            </intent-filter>
        </provider>
        <provider
            android:name="dev.dworks.apps.anexplorer.provider.NonMediaDocumentsProvider"
            android:authorities="${applicationId}.nonmedia.documents"
            android:exported="true"
            android:grantUriPermissions="true"
            android:permission="android.permission.MANAGE_DOCUMENT">
            <intent-filter>
                <action android:name="dev.dworks.apps.anexplorer.action.DOCUMENTS_PROVIDER" />
            </intent-filter>
        </provider>
        <provider
            android:name="dev.dworks.apps.anexplorer.provider.AppsProvider"
            android:authorities="${applicationId}.apps.documents"
            android:exported="true"
            android:grantUriPermissions="true"
            android:permission="android.permission.MANAGE_DOCUMENT">
            <intent-filter>
                <action android:name="dev.dworks.apps.anexplorer.action.DOCUMENTS_PROVIDER" />
            </intent-filter>
        </provider>
        <provider
            android:name="dev.dworks.apps.anexplorer.provider.RootedStorageProvider"
            android:authorities="${applicationId}.rootedstorage.documents"
            android:exported="true"
            android:grantUriPermissions="true"
            android:permission="android.permission.MANAGE_DOCUMENT">
            <intent-filter>
                <action android:name="dev.dworks.apps.anexplorer.action.DOCUMENTS_PROVIDER" />
            </intent-filter>
        </provider>

        <provider
            android:name="dev.dworks.apps.anexplorer.provider.HeatMapProvider"
            android:authorities="${applicationId}.heatmap.documents"
            android:exported="false"
            android:enabled="false"
            android:grantUriPermissions="true"
            android:permission="android.permission.MANAGE_DOCUMENT">
            <intent-filter>
                <action android:name="dev.dworks.apps.anexplorer.action.DOCUMENTS_PROVIDER" />
            </intent-filter>
        </provider>
        <provider
            android:name="dev.dworks.apps.anexplorer.provider.DownloadStorageProvider"
            android:authorities="${applicationId}.downloads.documents"
            android:exported="false"
            android:enabled="false"
            android:grantUriPermissions="true"
            android:permission="android.permission.MANAGE_DOCUMENT">
            <intent-filter>
                <action android:name="dev.dworks.apps.anexplorer.action.DOCUMENTS_PROVIDER" />
            </intent-filter>
        </provider>

        <provider
            android:name="dev.dworks.apps.anexplorer.provider.ExplorerProvider"
            android:authorities="${applicationId}.explorer"
            android:enabled="true"
            android:exported="false" />

        <provider
            android:name="dev.dworks.apps.anexplorer.provider.UsbStorageProvider"
            android:authorities="${applicationId}.usbstorage.documents"
            android:exported="true"
            android:grantUriPermissions="true"
            android:permission="android.permission.MANAGE_DOCUMENT" >
            <intent-filter>
                <action android:name="dev.dworks.apps.anexplorer.action.DOCUMENTS_PROVIDER" />
            </intent-filter>
        </provider>

        <provider
            android:name="dev.dworks.apps.anexplorer.provider.NetworkStorageProvider"
            android:authorities="${applicationId}.networkstorage.documents"
            android:exported="true"
            android:grantUriPermissions="true"
            android:permission="android.permission.MANAGE_DOCUMENT" >
            <intent-filter>
                <action android:name="dev.dworks.apps.anexplorer.action.DOCUMENTS_PROVIDER" />
            </intent-filter>
        </provider>

        <provider
            android:name="dev.dworks.apps.anexplorer.provider.CloudStorageProvider"
            android:authorities="${applicationId}.cloudstorage.documents"
            android:exported="true"
            android:grantUriPermissions="true"
            android:permission="android.permission.MANAGE_DOCUMENT" >
            <intent-filter>
                <action android:name="dev.dworks.apps.anexplorer.action.DOCUMENTS_PROVIDER" />
            </intent-filter>
        </provider>

        <provider
            android:name="dev.dworks.apps.anexplorer.provider.ExtraDocumentsProvider"
            android:authorities="${applicationId}.extra.documents"
            android:exported="true"
            android:grantUriPermissions="true"
            android:permission="android.permission.MANAGE_DOCUMENT">
            <intent-filter>
                <action android:name="dev.dworks.apps.anexplorer.action.DOCUMENTS_PROVIDER" />
            </intent-filter>
        </provider>
        <activity
            android:name=".common.WebviewActivity"
            android:theme="@style/DocumentsTheme.Document"
            android:exported="true"
            android:enabled="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="https"
                    android:host="integrations.cloudrail.com" />
            </intent-filter>
            <meta-data android:name="WindowManagerPreference:SuppressWindowControlNavigationButton"
                android:value="true" />
        </activity>

        <activity
            android:name=".cast.ExpandedControlsActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:theme="@style/DocumentsTheme.Cast" />

        <activity
            android:name=".ShareDeviceActivity"
            android:label="@string/activity_share"
            android:theme="@style/DocumentsTheme.Note">
            <intent-filter>
                <action android:name="android.intent.action.SEND"/>
                <action android:name="android.intent.action.SEND_MULTIPLE"/>

                <category android:name="android.intent.category.DEFAULT"/>

                <data android:mimeType="*/*"/>
            </intent-filter>
        </activity>

        <service
            android:name=".service.TransferService"
            android:enabled="true"
            android:exported="false"/>

    </application>

</manifest>